<div class="relative w-full h-full">
    <div class="absolute inset-0 z-0 bg-phone-1 bg-cover bg-bottom filter opacity-10 hue-rotate-[-45deg]">
    </div>
    <div class="w-full h-full z-[5] relative flex flex-col px-8 py-4">
        <div class="flex items-center mb-2 gap-x-2" *ngrxLet="phoneBook$; let phoneBook">
            <h5 class="flex-grow font-sans text-2xl font-bold text-gray-600">
                {{ phoneBook?.name }}
            </h5>
            <app-search-phone-book-entry></app-search-phone-book-entry>
        </div>

        <div class="mb-8">
            <app-add-phone-book-entry></app-add-phone-book-entry>
        </div>

        <div class="grid grid-cols-1 divide-y divide-gray-100">
            <div *ngFor="let entry of entries$ | async"
                 class="flex items-center justify-between py-2 rounded">
                <span class="font-sans text-xl text-gray-500">{{ entry.name }}</span>
                <span class="font-mono text-xl text-gray-800">
                    <ng-container *ngFor="let num of entry.phoneNumbers; last as last">
                        <ng-container>{{ num }}</ng-container>
                        <ng-container *ngIf="!last">,&nbsp;</ng-container>
                    </ng-container>
                </span>
            </div>
        </div>
    </div>
</div>
