<div class="w-full h-full">
    <div class="relative z-10 p-5 bg-white flex items-center shadow-lg shadow-black/15">
        <div class="inline-flex gap-x-4 items-center">
            <span class="text-4xl text-gray-400">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-12 w-12"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M12 6.253v13m0-13C10.832 5.477 9.246 5 7.5 5S4.168 5.477 3 6.253v13C4.168 18.477 5.754 18 7.5 18s3.332.477 4.5 1.253m0-13C13.168 5.477 14.754 5 16.5 5c1.747 0 3.332.477 4.5 1.253v13C19.832 18.477 18.247 18 16.5 18c-1.746 0-3.332.477-4.5 1.253"/>
                </svg>
            </span>
            <h4 class="text-5xl font-sans text-green-700">
                The PhoneBook
            </h4>
        </div>
    </div>

    <div class="full h-full grid grid-cols-[minmax(200px,_20%)_1fr]">
        <div class="bg-white border-r border-gray-100">
            <app-phone-books-list></app-phone-books-list>
        </div>
        <div class="">
            <app-phonebook-entries-list></app-phonebook-entries-list>
        </div>
    </div>
</div>
